*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

body{
    background-color:#262525;
    color: #7b7b7b;
    font-family: 'Raleway', sans-serif;
}


.contener{
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.perfil{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid 3px rgb(158, 158, 158);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);   
}

h1{
text-transform: uppercase;
letter-spacing: 1px;
font-size: 32px;
text-align: center;
margin: 10px 10px;
}

h5{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
}

.menu {
display:flex;
flex-direction: column;
align-items: center;
width:100%;
height:200px;
list-style: none;

}

li, span{
    margin-bottom:10px ;
    align-items: center;
}

.icons{
    width: 20px;
    margin-right:5px ;

}
